

#bodyTag {

    color: white;
    background-color: #161616;
}
#URLinput {
    
    color: white;
    border: #2D2A29 2px solid;
    background-color: #1E1C1B;
}

#urlDisplay {
    
    color: white;
    border: 0px;
    background-color: #1E1C1B;
}

#btn {
    min-width: 300px;
    min-height: 40px;
}

#snackbar {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px; 
    background-color: #2D2A29; 
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1; 
    left: 50%;
    bottom: 30px;
  }

  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
/* 
  #lds-ring.show {
    visibility: visible;
  } */

  #lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  #lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  #lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  #lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  